body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

#startMenu {
  display: flex;
  flex-direction: column; /* Stacks children elements vertically */
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('https://github.com/Roland6321/qr-menu/blob/main/start%20menu_background.jpg?raw=true');
  background-size: cover;
  background-position: center;
  position: relative;
}

#startMenu::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 0;
}

#startMenu h1, #startButton {
  margin-bottom: 20px;
  font-size: 2em;
  color: white; /* This changes the text color to white */
  position: relative;
  z-index: 1;
}

#startButton {
  padding: 10px 20px;
  font-size: 1.2em;
  color: #ffffff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#startButton:hover {
  background-color: #0056b3;
}

#categories {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 100vh;
  text-align: center;
  padding-top: 50px;
  background-color: #F5F5F5;
}

#categories h1 {
  font-size: 2rem;
  color: #333;
}
