body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #F5F5F5; /* This will ensure the background color covers the entire page */
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

#startMenu {
  display: flex;
  flex-direction: column; /* Stacks children elements vertically */
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('https://github.com/Roland6321/qr-menu/blob/main/start%20menu_background.jpg?raw=true');
  background-size: cover;
  background-position: center;
  position: relative;
}

#startMenu::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 0;
}

#startMenu h1, #startButton {
  margin-bottom: 20px;
  font-size: 2em;
  color: white; /* This changes the text color to white */
  position: relative;
  z-index: 1;
}

#startButton {
  padding: 10px 20px;
  font-size: 1.2em;
  color: #ffffff;
  background-color: #ff8410;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#startButton:hover {
  background-color: #dfa55e;
}

#categories h1 {
  text-align: center;
  width: 100%;
  margin-top: 20px; /* or any value you prefer */
  padding-top: 15px; /* This adds padding above your h1 text */
}

.text-grey {
  color: grey; /* This will color "What's on your" in grey */
}

.text-orange {
  color: #ff8410; /* This will color "mind?" in orange, adjust the hex as needed */
}

#categories {
  background-color: #F5F5F5; /* This sets the background color to light grey */
  /* ...other styles... */
}

.category {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Center items horizontally */
  justify-content: center; /* Center items vertically */
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  background-color: #fff;
  height: 200px; /* Adjust based on your design */
}

.category-content, .category-image {
  width: 100%; /* Take the full width of the category box */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 0; /* Add margin for spacing */
}

.category-image {
  height: 100px; /* Adjust the height as needed */
  background-size: cover;
  background-position: center;
  border-radius: 5px;
}

.category h2 {
  font-size: 1.5rem; /* Adjust the size as needed */
  color: #333;
  margin: 0;
  text-align: center;
  white-space: normal; /* Wrap text as needed */
  overflow-wrap: break-word;
}

.category-btn {
  padding: 8px 10px;
  background-color: #ff8410;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  width: auto; /* Allow the button to size to its content */
  margin: 5px;
}

.category-btn:hover {
  background-color: #dfa55e;
}

/* Adjust your .back-btn styles if necessary */

/* Back Button Styling */
.back-btn {
  padding: 10px 20px;
  font-size: 1em;
  color: #ffffff;
  background-color: #ff8410;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 20px; /* Space above the button */
}

.back-btn:hover {
  background-color: #dfa55e;
}

.menu-items {
  background-color: #F5F5F5; /* This sets the background color to light grey */
  /* ...other styles... */
}

.menu-item {
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  background-color: #fff;
}

#menuitemlist h2 {
  text-align: center;
  width: 100%;
  margin-top: 20px; /* or any value you prefer */
  padding-top: 15px; /* This adds padding above your h1 text */
  color: grey; /* Dark text color for readability */
}


/* Menu Item Styling */
.menu-items p {
  padding: 5px 0; /* Adds padding above and below each menu item */
  color: #333; /* Dark text color for readability */
  margin-left: 20px; /* Indents menu items for clarity */
}

/* Adjustments for better visibility of category content */
.category-content {
  flex-direction: column; /* Stacks items vertically within each category */
  align-items: flex-start; /* Aligns items to the start of the container */
}

/* Ensures that the category buttons and menu items are well spaced */
.category-btn, .menu-items {
  margin-top: 10px;
}

.menu-item {
  display: flex;
  border: 1px solid #ccc; /* Thin border */
  align-items: center; /* Existing style */
  margin-bottom: 10px; /* Adds vertical separation between menu items */
  margin: 10px;
  padding: 10px;
  border-radius: 5px; /* Rounded corners */
}

.menu-item img {
  height: 100%; /* Existing style */
  width: 25%; /* Existing style */
  object-fit: cover; /* Ensures the image covers the allotted space without distortion */
}

.menu-item span {
  flex-grow: 1; /* Allows the name to take up available space */
  text-align: left; /* Existing style */
  margin-left: 3px;
}

.item-details {
  flex-grow: 1; /* Allows the container to take up remaining space */
  margin-left: 2px; /* Adjusted to ensure gap from the image */
}

.item-details span, .item-details .price {
  display: block; /* Makes each span stack vertically */
}

.menu-item .price {
  font-size: 0.9em;
  color: #ff8410; /* Change color to orange */
  font-weight: bold; /* Make the text bold */
}

.menu-item a {
  margin-left: auto; /* Pushes the button to the right */
}

.select-btn {
padding: 8px 10px;
background-color: #ff8410;
color: white;
border: none;
border-radius: 5px;
cursor: pointer;
font-size: 1rem;
width: auto; /* Allow the button to size to its content */
margin: 5px;
}

.select-btn-anchor {
  margin-left: auto; /* Pushes the button to the right */
}

.select-btn:hover {
background-color: #dfa55e; /* Darker orange background on hover */
}

.backToCategories {
  padding: 8px 10px; /* Adjust padding as needed */
  background-color: #ff8410; /* Orange background */
  color: white; /* White text */
  border: none; /* No border */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Pointer cursor on hover */
  font-size: 1rem; /* Font size 1rem */
  height: 100%; /* Make the button take full height of its container */
  width: auto; /* Set the width to 25% of its container */
  margin: 5px; /* Add margin if needed */
  }
  
  .backToCategories:hover {
  background-color: #dfa55e; /* Darker orange background on hover */
  }

  .menu-item-name, .ingredients, .extra-ingredients-section, .extra-ingredients-title, .quantity-section, .comment-section, .menu-item-price {
    padding-left: 10px;
}

.quantity-section {
  padding-bottom: 15px; /* Adds space below the quantity section */
}

.extra-ingredients-section div {
  padding-bottom: 15px; /* Adds space below each ingredient checkbox */
}

#cartSection h2 {
  text-align: center;
  width: 100%;
  margin-top: 20px; /* or any value you prefer */
  padding-top: 15px; /* This adds padding above your h1 text */
  font-size: 2rem;
}

.add-to-cart {
  padding: 8px 10px;
  background-color: #ff8410;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  width: auto; /* Allow the button to size to its content */
  margin: 5px;
}

.add-to-cart:hover {
  background-color: #dfa55e;
}

.menu-item-price {
  font-size: 1.8rem; /* Adjust the font size as needed */
  color: #ff8410; /* Adjust the color to fit your design */
  margin-top: 8px; /* Provides space between the item name and price */
  margin-bottom: 20px; /* Space before the next section starts */
}

.price-value {
  font-weight: bold; /* Makes the price stand out */
}

.menu-item-header-overlay {
  position: relative;
}

.custom-header-menu-item {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px;
  background-color: transparent; /* Set to transparent */
  z-index: 2; /* Ensure the header is above the image */
}

.menu-item-image {
  display: block;
  width: 100%; /* Ensure it takes the full width */
  margin-top: -60px; /* Adjust so the image overlays under the header */
  z-index: 1; /* Lower z-index than the header */
}

.custom-header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #f5f5f5; /* Example background color, adjust as needed */
}

.home-btn, .cart-btn, .return-btn, .return-to-cart-btn, .back-to-contact-info {
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: #ffffff; /* Example button color, adjust as needed */
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

.custom-header-menu-item .cart-btn {
  margin-right: 20px; /* This will apply only to .cart-btn within .custom-header-menu-item */
}

.home-btn:hover, .cart-btn:hover, .return-btn:hover, .return-to-cart-btn:hover, .back-to-contact-info:hover {
  background-color: #0056b3; /* Darker shade for hover effect */
}

.order-total-counter {
  position: fixed; /* Change this to 'static' if you prefer it to move with the page content */
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%); /* Centers the counter */
  background-color: #fff;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  z-index: 1000; /* Ensure it's above other content */
}

.order-total-counter span {
  font-weight: bold;
}

/* New styles for Cart Section */
#cartItems{
  margin: 10px;
  /* Add more styles to match your design */
}

#cartSection{
  background-color: #F5F5F5,
}

#cartItems p {
  color: #333;
  /* Additional styling for cart items */
}

/* Style for the Proceed to Payment button */
.proceed-to-payment-btn, .confirm-payment-info {
  background-color: #ff8410; 
  color: white;
  padding: 15px 32px;
  display: block; /* Makes the button a block-level element */
  font-size: 16px;
  margin: 20px auto; /* Centers the button with auto margins */
  cursor: pointer;
  border-radius: 4px;
  width: 95%; /* Adjust the width as needed */
  text-align: center; /* Ensures text inside the button is centered */
  border: none; /* No border */
}

/* Style for the Total Sum Counter */
#totalSumCounter {
  padding: 10px;
  background-color: lightgrey; /* Background color for visibility */
  color: #333; /* Text color */
  font-size: 16px; /* Ensures text size matches the button */
  display: block; /* Block display for proper alignment */
  margin: 20px auto; /* Aligns center with auto margins, consistent with the button */
  width: 90%; /* Matches the width of the button */
  text-align: center; /* Centers the text within the counter */
  border: 1px solid #ccc; /* Thin grey border */
  border-radius: 4px; /* Rounded corners to match the button */
}

.remove-item {
  padding: 8px 10px;
  background-color: #ff8410;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  width: auto; /* Allow the button to size to its content */
  margin: 5px;
  display: inline-block; /* In case you need to align it next to other inline elements */
  text-align: center;
}

.remove-item:hover {
  background-color: #dfa55e;
}

/* Existing styles for progress and step indicators */
.progress-indicator {
  display: flex;
  justify-content: center;
  gap: 10px; /* spacing between rectangles */
  margin-top: 30px;
  margin-bottom: 30px; /* spacing from the header */
}

.step-indicator {
  width: 70px; /* width of the rectangle */
  height: 10px; /* height of the rectangle */
  border-radius: 5px;
  background-color: #d3d3d3; /* default color for upcoming step */
}

/* New styles for specific steps based on their IDs */
#step1 {
  background-color: #4CAF50; /* green for step 1 */
}

#step2 {
  background-color: #FFA500; /* orange for step 2 */
}

#step3 {
  background-color: #d3d3d3; /* grey for step 3, already defined but can be reiterated if you want to emphasize it or if it changes in future */
}

/* Container for buttons */
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 45px; /* This creates a gap between the flex items */
}

.eat-inside-btn, .take-away-btn {
  width: 110px;
  height: auto; /* Adjust height as needed to fit content */
  padding: 10px; /* Add some padding for spacing */
  display: flex;
  flex-direction: column; /* Stack the img and text vertically */
  align-items: center; /* Center-align the flex items */
  justify-content: center; /* Center content vertically */
  text-align: center; /* Center-align the text */
  background-color: #ddd; /* Neutral color for non-selected state */
  border: none;
  cursor: pointer;
  margin-bottom: 30px;
  border-radius: 10px;
}

.eat-inside-btn img, .take-away-btn img {
  display: block;  /* Makes the image a block-level element */
  margin: 0 auto;  /* Centers the image horizontally */
  width: 50px;    /* Adjust the width as necessary */
  height: auto;   /* Maintain aspect ratio */
}

.button-container img {
  max-width: 40px; /* Maximum width for the icons */
  max-height: 40px; /* Maximum height for the icons */
  margin-bottom: 5px; /* Space between the icon and the text */
}

/* Selected button style */
.selected {
  background-color: orange; /* Active state */
  color: white;
}

/* Not-selected button style - make this less prominent than .selected */
.not-selected {
  background-color: #ddd; /* Non-selected state */
  color: grey;
}

#contactInfoForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80vw; /* 60% of the viewport width */
  margin: 0 auto; /* Center the form horizontally */
}

#contactInfoForm input {
  width: 100%;
  margin: 10px 0;
  padding: 10px 0;
  box-sizing: border-box;
  background: transparent;
  border: none;
  border-bottom: 2px solid orange; /* Or change this color too, if you'd like */
}

#contactInfoForm input:focus {
  outline: none; /* Remove the default focus outline */
  border-bottom: 2px solid #4CAF50; /* Change the bottom border color on focus, adjust as needed */
}

.confirm-payment-info {
  margin-top: 20px; /* Add some space above the confirm button */
  padding: 10px 20px; /* Adjust padding as needed */
  width: auto; /* Auto width based on content, adjust as needed */
  cursor: pointer; /* Change the cursor to pointer to indicate it's clickable */
}

.input-description1 {
  color: #757575; /* Light grey */
  margin: 5px 0; /* Example margin */
  /* Add more styles as needed */
}

.input-description2 {
  color: #757575; /* Light grey */
  margin: 5px 0; /* Example margin */
  /* Add more styles as needed */
}


